<div class="card-group">
  <div class="card m-2" style="width: 18rem;">
    <img [src]="product.image" class="card-img-top" [alt]="product.name">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ product.category.name }}</h6>
      <p class="card-text">{{ product.description }}</p>
    </div>

    <div class="card-body d-flex justify-content-between">
      <span class="price">${{ product.price }}</span>
      <a (click)="addToCart(product)" class="btn btn-outline-info">Add to Cart</a>
    </div>
  </div>
</div>
